<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.epicodus.findflix">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.epicodus.findflix.ui.MainActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.epicodus.findflix.ui.RouletteActivity"
                  android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.findflix.ui.MainActivity">
            </meta-data>
        </activity>
        <activity android:name="com.epicodus.findflix.ui.NewAccountActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.epicodus.findflix.ui.LoginActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.epicodus.findflix.ui.RouletteResultsListActivity"
                  android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.findflix.ui.RouletteActivity">
            </meta-data>
        </activity>
        <activity android:name="com.epicodus.findflix.ui.ShowDetailActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.epicodus.findflix.ui.SavedShowsListActivity"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>